.actualNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.actualFirst {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    width: 1000px;
    max-height: 200px;
}

.actualFirst img {
    width: 100%;
    transition: transform 0.6s ease;
}

.actualFirst:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.blockText {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #00000024;
    cursor: pointer;
}

.blockText span{
    color: white;
    font-size: 18px;
    
}

