@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.news * {
    color: aliceblue;
}

.news {
    margin-top: 50px;
}

.lastActualNews {
    display: flex;

    margin: 0 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;

}

.imgContainer {

    width: 200px;
    overflow: hidden;
}

.lastActualNews img {
    height: 250px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    height: 220px;

}

.textBlock b {
    font-size: 26px;
    margin-bottom: 20px;
    margin-left: 10px;
    letter-spacing: 1px;
}

.textBlock span,
.textBlock p {
    font-family: 'Montserrat', sans-serif;

}

.textBlock span,
.textBlock p {
    margin-bottom: 20px;
    margin-left: 10px;
}

.readMore {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;

    background-color: #9dce4e;
    color: #496121;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.093);

    font-size: 22px;
    cursor: pointer;

}

.readMore:hover {
    background-color: #90bf45;
}

/* outherNews styles:*/

.otherNews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 10px;

    width: 900px;
}

.newsItem {
    display: flex;
    align-items: start;
    margin-left: 10px;
}

.newsItem img {
    height: 120px;
}

.newsDesacitpion {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.newsDesacitpion b {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.newsDesacitpion p {
    font-family: 'Montserrat', sans-serif;

}

.newsDesacitpion p,
.newsDesacitpion b {
    margin: 10px;
}

.inputShell {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #cf3e3e;
    height: 60px;
    margin: 20px;

    border-radius: 14px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.445);
}

.inputShell input {
    width: 96%;
    height: 50px;
    margin-left: 10px;
    background: transparent;
    font-size: 22px;
}

.inputShell input::placeholder {
    color: #9c2727;
}

.inputShell i {
    margin-right: 20px;
    font-size: 22px;
    cursor: pointer;
}